<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="anansi.interactive.xq.cloudupp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="anansi.interactive.xq.cloudupp.Masuk"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="anansi.interactive.xq.cloudupp.SemuaBerkas"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_semua_berkas"
            android:parentActivityName="android.app.ListActivity"
            android:theme="@android:style/Theme.Holo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity
            android:name="anansi.interactive.xq.cloudupp.Daftar"
            android:label="@string/title_activity_daftar" >
        </activity>
    </application>

</manifest>